# Core data
pandas
numpy

# Machine learning
scikit-learn
xgboost

# Time series forecasting
prophet

# Feature engineering
featuretools

# Database
sqlalchemy
psycopg2-binary

# Environment
python-dotenv

argon2-cffi
python-multipart
lxml
openpyxl